.cart-dropdown-container {
  position: absolute;
  width: 200px;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 20px;
  z-index: 5;  
}

.empty-message {
  font-size: 18px;
  margin: 50px auto;
}

.cart-items {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.cart-dropdown-container > button
{  
  align-self: center;
}

.each-cart-item
{
   font-size: 13px;
   margin-bottom: 10px;
   width: 140px;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid gray;
}


.each-qty-price
{
  
  align-self: center;
}

.cart-name-and-image
{
   display: flex;
   justify-content: space-around;
   
}
