.heading
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}

.heading-container
{
    display: flex;
    padding: 20px;
    
    margin: auto;
    width: 90%;
    justify-content: space-around;
    
}

.checkout-container
{
    display: flex;
    flex-direction: column; 
    padding: 20px;
    
    margin: auto;
    width: 90%;
    justify-content: space-around;
    
}
