.navigation
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 34px;

}

.navigation-links
{
    display: flex;
    justify-content: space-evenly;
    min-width: 30%;
}


