.navigation
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 34px;

}

.navigation-links
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 30%;

}

a{

    text-decoration: none;
    font-size: medium;
    font-family: 'Source Sans Pro', sans-serif;
}

*{
    box-sizing: border-box;
}


