.header
{
    display: flex;
    background-color: blueviolet;
    align-items: center;
    justify-content: space-around
}

.memes
{
    
    width: 400px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
}